.iconsHolder {
  width: 70%;
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.2rem;

  .imageContainer {
    object-fit: cover;
    position: relative;
    height: 90%;
    width: 20%;
    border-radius: 0.5rem;
  }
}
