.baseLayout {
  height: 100%;
}

.layout {
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.fullWidthlayout {
  width: 100%;
  display: flex;
  flex-direction: column;
}
