.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  min-height: 100%;

  .centered {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      font-size: 6rem;
      font-weight: 200;
      margin: 0;
      padding: 1rem;
      font-family: 'Magz', sans-serif;
      text-align: center;
    }
    .description {
      justify-content: center;
      text-align: center;
      width: 80%;
      margin: 0;
    }
  }
  .pageBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    position: absolute;
  }
}
